@import 'defaults.scss';

:host {
  .m-videoPlayer__autoProgressOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include m-theme() {
      color: themed($m-white-always);
      background-color: themed($m-black-always);
    }

    .m-videoPlayer__autoProgressPanel {
      align-items: center;
      display: flex;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      line-height: initial !important;

      i,
      span {
        margin: 8px;
        font-size: 31pt;
      }

      i {
        cursor: pointer;
      }

      .m-videoPlayer__playingNextText {
        font-size: 12pt;
      }
      .m-videoPlayer__nextVideoTitle {
        font-size: 21pt;
        font-weight: bold;
      }
      .m-videoPlayer__nextVideoOwner {
        font-size: 14pt;
      }
      .m-videoPlayer__countdown {
        font-weight: bold;
        font-size: 31pt;
      }
      .m-videoPlayer__cancelText {
        font-size: 14pt;
        cursor: pointer;
      }
    }
  }
}
