<div class="m-modalV2__inner">
  <div class="m-modalV2__header">
    Buy Tokens
  </div>
  <div class="m-modalV2__body">
    <div>
      <span>Payment Method</span>
    </div>
    <button (click)="payWithTransak()">Card</button>
    <button>Bank</button>
    <button (click)="payWithCrypto()">Crypto</button>
    <div>
      <table>
        <tr>
          <td>
            <input id="terms-check" type="checkbox" [(ngModel)]="terms" />
          </td>
          <td class="m-blockchain--marketing--pledge--check-label">
            <label for="terms-check" i18n="@@M__PURCHASE_TERMS">
              I have read and accept the
              <a
                href="https://cdn-assets.minds.com/front/dist/assets/documents/TermsOfSale-v0.1.pdf"
                target="_blank"
                >Terms Of Sale</a
              >
              for the Minds Token
            </label>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="m-modalV2__toolbar">
    <a href="/tokens">Learn more</a>
    <button
      class="m-btn m-btn--slim m-btn--action"
      [disabled]="!canContinue()"
      i18n="@@M__PURCHASE_BUTTON"
    >
      Continue
    </button>
  </div>
</div>
