<m-concertColors__modal title="Buy Tokens">
  <div class="m-modalV2__body m-buyTokens__body">
    <div class="m-buyTokensBody__paymentMethod">
      <span class="m-buyTokensBodyPaymentMethod__text">Payment Method</span>
    </div>
    <div class="m-buyTokensBody__buttons">
      <div
        class="m-buyTokensButtons__button"
        [ngClass]="{
          'm-buyTokensBody__button--selected': paymentMethod === 'card'
        }"
        (click)="choosePaymentMethod('card')"
      >
        Card
      </div>
      <div
        class="m-buyTokensButtons__button"
        [ngClass]="{
          'm-buyTokensBody__button--selected': paymentMethod === 'bank'
        }"
        (click)="choosePaymentMethod('bank')"
      >
        Bank
      </div>
      <div
        class="m-buyTokensButtons__button"
        [ngClass]="{
          'm-buyTokensBody__button--selected': paymentMethod === 'crypto'
        }"
        (click)="choosePaymentMethod('crypto')"
      >
        Crypto
      </div>
    </div>
    <div class="m-buyTokensBody__estimate">
      Delivery estimate:
      <span class="m-buyTokensBody__estimate--primary">
        1-2 {{ paymentMethod === 'bank' ? 'days' : 'mins' }}
      </span>
    </div>
    <div class="m-buyTokensBody__termsCheck">
      <input id="terms-check" type="checkbox" [(ngModel)]="terms" />
      <label
        class="m-buyTokensBodyTermsCheck__label"
        for="terms-check"
        i18n="@@M__PURCHASE_TERMS"
      >
        I have read and accept the
        <a
          href="https://cdn-assets.minds.com/front/dist/assets/documents/TermsOfSale-v0.1.pdf"
          target="_blank"
          >Terms Of Sale
        </a>
        for the Minds Token
      </label>
    </div>
    <span
      *ngIf="paymentMethod === 'crypto'"
      class="m-buyTokensBody__uniswapWarning"
      i18n="@@M__UNISWAP_WARNING"
    >
      Please check your wallet for transaction updates
    </span>
    <div class="m-buyTokensBody__footer">
      <a class="m-buyTokensFooter__learnMoreText" href="/tokens">
        Learn more about tokens
      </a>
      <button
        class="m-btn m-btn--action m-buyTokensFooter__btn"
        [disabled]="!canContinue()"
        (click)="openPaymentModal()"
        i18n="@@M__PURCHASE_BUTTON"
      >
        Continue
      </button>
    </div>
  </div>
</m-concertColors__modal>
