<m-concertColors__modal title="Earn with Minds">
  <div class="m-modalV2__body m-buyTokens__body">
    <div class="m-earnModal__blockContainer">
      <div class="m-earnModal__block" (click)="openAddLiquidity()">
        <span class="m-earnModalBlock__title">Pool</span>
        <p class="m-earnModalBlock__text">
          Receive a multiplier on your daily token rewards by staking your MINDS
          and the equivalent amount of ETH on Uniswap.
        </p>
      </div>
      <div class="m-earnModal__block">
        <span class="m-earnModalBlock__title">Transfer</span>
        <p class="m-earnModalBlock__text">
          Receive a miltiplier on your daily token rewards by holding your MINDS
          on-chain. The multiplier increases over time and as your balance
          grows.
        </p>
      </div>
      <div class="m-earnModal__block" (click)="openCompose()">
        <span class="m-earnModalBlock__title">Create</span>
        <p class="m-earnModalBlock__text">
          Post content that receives engagement from the commuinity, such as
          votes, comments, subcribers, tips or reminds. Upgrade to Minds+ or Pro
          to unlock cash reaerds.
        </p>
      </div>
      <div class="m-earnModal__block">
        <span class="m-earnModalBlock__title">Curate</span>
        <p class="m-earnModalBlock__text">
          Help tag or report content through the Minds jury system. Bet tokens
          on which channels will grow and gain trust.
        </p>
      </div>
      <div class="m-earnModal__block" (click)="redirectDevelop()">
        <span class="m-earnModalBlock__title">Develop</span>
        <p class="m-earnModalBlock__text">
          Submit succesful merge requests or create Gitlab issues that result in
          a succesful merge request.
        </p>
      </div>
      <div class="m-earnModal__block" (click)="openReferModal()">
        <span class="m-earnModalBlock__title">Refer</span>
        <p class="m-earnModalBlock__text">
          Get your contacts to sign up for Minds through your referral link or
          any of your content.
        </p>
      </div>
    </div>
  </div>
</m-concertColors__modal>
