@import 'defaults.scss';

.m-modalV2__inner {
  max-width: 900px !important;
}

.m-earnModal__body {
  max-height: none !important;
  overflow-y: auto !important;
  padding: 40px !important;
  margin: 0px 18px;
}

.m-earnModal__block {
  cursor: pointer;
  max-width: 420px;
  box-sizing: border-box;
  padding: 12px 18px;
  border-style: solid;
  border-width: 1px;

  &:not(:nth-last-child(2)):not(:last-child) {
    margin-bottom: 19px;
  }

  @include m-theme() {
    border-color: themed($m-borderColor--primary);
  }
}

.m-earnModalBlock__title {
  display: block;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 5px;

  @include m-theme() {
    color: themed($m-textColor--primary);
  }
}

.m-earnModalBlock__text {
  display: block;
  font-size: 15px;
  font-weight: 400;

  @include m-theme() {
    color: themed($m-textColor--secondary);
  }
}

.m-earnModal__blockContainer {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 479px) {
  .m-earnModal__blockContainer {
    width: 250px !important;
  }
  .m-earnModal__block:not(:last-child) {
    margin-bottom: 19px;
  }
}

@media (min-width: 480px) and (max-width: 939px) {
  .m-earnModal__blockContainer {
    width: 400px !important;
  }
  .m-earnModal__block:not(:last-child) {
    margin-bottom: 19px;
  }
}

@media (min-width: 940px) and (max-width: 1024px) {
  .m-earnModal__blockContainer {
    width: 850px !important;
  }
}
