@import 'defaults.scss';

:host {
  grid-area: content / span 3;
  display: block;
  @include m-theme() {
    border-right: 1px solid themed($m-borderColor--primary);
  }

  .m-jobs--marketing {
    .m-marketing--hero {
      padding: 24px 0 !important;

      .m-marketing--hero--inner {
        padding-top: 52px;
        padding-bottom: 52px;
        flex-wrap: wrap;
      }

      .m-marketing--hero--slogans h2 {
        padding-left: 16px;
      }
    }

    .m-marketing--section--subsection--first
      .m-marketing--section--subsection-container {
      padding-top: 32px !important;
    }

    .m-marketing--hero--actions img {
      max-height: 250px;
    }

    @media screen and (max-width: 662px) {
      .m-marketing--hero--actions {
        flex-basis: 100% !important;
        margin-top: 16px;
      }
    }

    @media screen and (min-width: 500px) {
      .m-marketing--hero--slogans h2 {
        font-size: 62px !important;
        line-height: 1.25;
      }
    }

    .m-job--marketing--list {
      padding-left: 24px;

      li {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }

        a {
          font-weight: 400;
          @include m-theme() {
            color: themed($m-link);
          }
        }
      }
    }

    h1 {
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }

    .m-marketing--section--subsection {
      @include m-theme() {
        border-bottom: none;
      }

      &:last-child {
        padding-bottom: 40px;
      }
    }

    .m-marketing--section--subsection-image img {
      max-width: 150px;
    }
  }

  ::ng-deep m-marketing__footer {
    margin-top: 0;

    .m-marketing__footer {
      border-right: none;
      border-left: none;
    }
  }
}
