<div class="m-branding">
  <div class="m-branding--header">
    <h1 i18n="@@BRANDING__TITLE">Branding</h1>
    <p>
      The following SVG and PNG files (licensed CC BY-SA) should be used for
      print publications. Logos and trademarks should always be downloaded from
      this page to ensure high quality. Downloads from other sites may not
      conform to our standards and may result in improper display or use of our
      protected logos and trademarks.
    </p>

    <p>
      Please contact <a href="mailto:info@minds.com">info@minds.com</a> should
      you require further information.
    </p>
  </div>

  <div class="m-branding--group">
    <h2>Logo Downloads</h2>
    <p>
      The logo is availavle in both PNG and SVG formats across both light and
      dark modes
    </p>

    <div class="m-branding--grid">
      <div class="m-branding--gridItem">
        <div class="m-branding--gridItemImage">
          <img src="/assets/branding/mindsLogoLight.svg" width="80%" alt="" />
        </div>

        <div class="m-branding--gridItemActions">
          <a href="/assets/branding/mindsLogoLight.png" target="_blank"
            ><i class="material-icons">get_app</i> PNG</a
          >
          <a href="/assets/branding/mindsLogoLight.svg" target="_blank"
            ><i class="material-icons">get_app</i>SVG</a
          >
        </div>
      </div>

      <div class="m-branding--gridItem m-branding--gridItemDark">
        <div class="m-branding--gridItemImage">
          <img src="/assets/branding/mindsLogoDark.svg" width="80%" alt="" />
        </div>

        <div class="m-branding--gridItemActions">
          <a href="/assets/branding/mindsLogoDark.png" target="_blank"
            ><i class="material-icons">get_app</i> PNG</a
          >
          <a href="/assets/branding/mindsLogoDark.svg" target="_blank"
            ><i class="material-icons">get_app</i>SVG</a
          >
        </div>
      </div>

      <div class="m-branding--gridItem">
        <div class="m-branding--gridItemImage">
          <img
            src="/assets/branding/mindsLogoBulbLight.svg"
            width="90%"
            alt=""
          />
        </div>

        <div class="m-branding--gridItemActions">
          <a href="/assets/branding/mindsBulb.png" target="_blank"
            ><i class="material-icons">get_app</i> PNG</a
          >
          <a href="/assets/branding/mindsLogoBulbLight.svg" target="_blank"
            ><i class="material-icons">get_app</i>SVG</a
          >
        </div>
      </div>

      <div class="m-branding--gridItem m-branding--gridItemDark">
        <div class="m-branding--gridItemImage">
          <img
            src="/assets/branding/mindsLogoBulbDark.svg"
            width="90%"
            alt=""
          />
        </div>

        <div class="m-branding--gridItemActions">
          <a href="/assets/branding/mindsBulb.png" target="_blank"
            ><i class="material-icons">get_app</i> PNG</a
          >
          <a href="/assets/branding/mindsLogoBulbDark.svg" target="_blank"
            ><i class="material-icons">get_app</i>SVG</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="m-branding--group">
    <h2>Mobile Product Images</h2>
    <p>High resolution product images using the Minds app for iOS</p>

    <div class="m-branding--grid">
      <div class="m-branding--gridItem">
        <div class="m-branding--gridItemTitle">
          Discovery &middot; iOS
        </div>
        <div class="m-branding--gridItemImage">
          <img src="/assets/branding/mobileDiscovery.png" width="80%" alt="" />
        </div>

        <div class="m-branding--gridItemActions">
          <a href="#"><i class="material-icons">get_app</i> PNG</a>
        </div>
      </div>

      <div class="m-branding--gridItem">
        <div class="m-branding--gridItemTitle">
          Discovery &middot; iOS
        </div>
        <div class="m-branding--gridItemImage">
          <img src="/assets/branding/mobileDiscovery.png" width="80%" alt="" />
        </div>

        <div class="m-branding--gridItemActions">
          <a href="#"><i class="material-icons">get_app</i> PNG</a>
        </div>
      </div>
    </div>
  </div>

  <div class="m-branding--group">
    <h2>Web Product Images</h2>
    <p>High resolution product images using minds.com</p>

    <div class="m-branding--grid">
      <div class="m-branding--gridItem">
        <div class="m-branding--gridItemTitle">
          Discovery &middot; Web
        </div>
        <div class="m-branding--gridItemImage">
          <img src="/assets/branding/webDiscovery.png" width="80%" alt="" />
        </div>

        <div class="m-branding--gridItemActions">
          <a href="#"><i class="material-icons">get_app</i> PNG</a>
        </div>
      </div>

      <div class="m-branding--gridItem">
        <div class="m-branding--gridItemTitle">
          Discovery &middot; Web
        </div>
        <div class="m-branding--gridItemImage">
          <img src="/assets/branding/webDiscovery.png" width="80%" alt="" />
        </div>

        <div class="m-branding--gridItemActions">
          <a href="#"><i class="material-icons">get_app</i> PNG</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="m-marketing--header">
    <div class="m-marketing--header-inner">
      <h1 i18n="@@BRANDING__TITLE">Branding</h1>
      <h3 i18n="@@BRANDING__SUBTITLE">Logos, assets and styling guides</h3>
    </div>
  </div>

  <div class="m-marketing--contents m-layout--row m-layout--wrap">
    <div class="m-layout--cell">
      <img
        [src]="configs.get('cdn_assets_url') + 'assets/logos/logo.svg'"
        download
      />
      <label i18n="@@BRANDING__FULL_LOGO_LABEL">Full Logo</label>
    </div>

    <div class="m-layout--cell">
      <img
        [src]="configs.get('cdn_assets_url') + 'assets/logos/bulb.svg'"
        download
      />
      <label i18n="@@BRANDING__BULB_LABEL">Bulb</label>
    </div>
  </div> -->
</div>

<!-- <m-footer></m-footer> -->
